* {
  padding: : 0;
  margin: 0;
}

body{
  background-color: gray;
  text-align: center;
}

#myCanvas {
  background-color: black;
  display: block;
  margin: 0 auto;
}

.title{
  text-align: center;
  padding: 20px
}

.line1{
  width: 500px;
  margin: 0px auto;
  display: block;
}
